<div class="row mb-5">
  <div class="col-md-6 offset-md-3">

    <div class="card">
      <div class="card-header d-flex justify-content-between">

        <div>
          <h4>
            <%= image_tag photo.owner.avatar, class: "image-thumbnail me-2" %>

            <%= link_to photo.owner.username, user_path(photo.owner.username) %>

          </h4>
        </div>

        <div>

          <% if current_user == photo.owner %>
            <%= link_to edit_photo_path(photo), class: "btn btn-link btn-sm text-muted" do %>
              <i class="bi bi-pencil-square" style="font-size: 1.5rem;"></i>
            <% end %>

            <%= link_to photo, method: :delete, class: "btn btn-link btn-sm text-muted" do %>
              <i class="bi bi-trash" style="font-size: 1.5rem;"></i>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="card-body">
        <%= image_tag photo.image, class: "card-img-top" %>
        <p class="card-text p-3"><%= photo.caption %></p>
      </div>
      <ul class="list-group list-group-flush">
        <% photo.comments.each do |comment| %>
          <li class="list-group-item">

            <div class="d-flex">
              <div class="flex-shrink-0">
                <%= image_tag photo.image, class: "image-thumbnail" %>
              </div>
              <div class="flex-grow-1 ms-3">
                <h5><%= comment.author.username %></h5>
                <p><%= comment.body %></p>
              </div>
            </div>

          </li>

        <% end %>
      </ul>

      <div class="card-body">
        <%= render "comments/form", comment: Comment.new(photo_id: photo.id) %>
        <% # photo.comments.build %>
      </div>
    </div>

  </div>

</div>
